In [22]:
import pandas as pd
dfcount = pd.read_csv("0667ba91-d9e6-4f8e-b246-fc77ec36ba77.csv")
dfcount

       content_languages      count
0                    eng  982966944
1                    NaN  585787318
2                    rus  107580325
3                    zho   90350792
4                    deu   86497311
...                  ...        ...
218506       eng,mal,mlt          1
218507       ind,san,aze          1
218508       tat,deu,msa          1
218509       srp,mlg,sqi          1
218510       ibo,nno,hrv          1

[218511 rows x 2 columns]

      id  n_commoncrawl
0    eng     1647268067
1    rus      175309697
2    zho      158700611
3    deu      161337878
4    spa      138488278
..   ...            ...
156  sag          11777
157  sux           2087
158  got           1289
159  kas            637
160  lif            347

[161 rows x 2 columns]

,ISO 639-2 Code,ISO 639-1 Code,English name of Language,French name of Language,German name of Language\n
0,aar,aa,Afar,afar,Danakil-Sprache\n
1,abk,ab,Abkhazian,abkhaze,Abchasisch\n
2,ace,,Achinese,aceh,Aceh-Sprache\n
3,ach,,Acoli,acoli,Acholi-Sprache\n
4,ada,,Adangme,adangme,Adangme-Sprache\n
...,...,...,...,...,...
502,znd,,Zande languages,"zandé, langues",Zande-Sprachen\n
503,zul,zu,Zulu,zoulou,Zulu-Sprache\n
504,zun,,Zuni,zuni,Zuñi-Sprache\n
505,zxx,,No linguistic content; Not applicable,pas de contenu linguistique; non applicable,Kein linguistischer Inhalt\n
506,zza,,Zaza; Dimili; Dimli; Kirdki; Kirmanjki; Zazaki,zaza; dimili; dimli; kirdki; kirmanjki; zazaki,Zazaki

In [34]:
from collections import defaultdict

# read number of pages per language in commoncrawl
counts = {}
for ix, row in dfcount.query("content_languages.notna()").iterrows():
    lang = row["content_languages"]
    lang = lang.split(",")
    for l in lang:
        if l not in counts.keys():
            counts[l] = 0
        counts[l] += row["count"]

counts = {"id": list(counts.keys()), "n_commoncrawl": list(counts.values())}
counts = pd.DataFrame(counts)

# read numbers of speakers from https://www.languagecourse.net/languages-worldwide
df = [line.split("\t") for line in open("isocodes.tsv")][1:]
df = list(filter(lambda x:len(x)==len(df[0]), df))
df = pd.DataFrame(df[1:], columns=df[0])

df = [line.split("\t") for line in open("speakers.tsv")]
df = list(filter(lambda x:len(x) == len(df[0]), df))
columns = [x.strip() for x in df[0]]
df = pd.DataFrame(df[1:], columns=columns)
df = df[["Name", "ISO Alpha-3/5", "Speakers worldwide"]]
columns = {
    'Name': "name", 
    'ISO Alpha-3/5': "id",
    'Speakers worldwide': "n_speakers"
}
df = df.rename(columns=columns).query("n_speakers.notna() and id.notna()")

In [36]:

# merge
num_speakers = {}
lang_names = {}
for ix, row in df.iterrows():
    num_speakers[row["id"]] = row["n_speakers"]
    lang_names[row["id"]] = row["name"]

n_speakers = []
l_names = []
for id in counts.id:
    if id in num_speakers.keys():
        n_speakers.append(num_speakers[id])
    else:
        n_speakers.append(pd.NA)
    if id in lang_names.keys():
        l_names.append(lang_names[id])
    else:
        l_names.append(pd.NA)

counts["name"] = l_names
counts["n_speakers"] = n_speakers

counts = counts.query("n_speakers.notna() and n_speakers != 'No data'")
counts["n_speakers"] = counts.n_speakers.astype(int)

counts = counts[['name', 'id', 'n_commoncrawl', 'n_speakers']]

n_commoncrawl_norm = counts.n_commoncrawl / counts.n_commoncrawl.max()
n_speakers_norm = counts.n_speakers / counts.n_speakers.max()
counts["rating"] = n_commoncrawl_norm * n_speakers_norm
counts = counts.sort_values("rating", ascending=False)

counts.head(50)

                    name   id  n_commoncrawl  n_speakers    rating
55                  Urdu  urd        1178093   162642730  0.310021
50               Marathi  mar         920966    73000000  0.108779
94              Javanese  jav         450862   100000000  0.072949
79               Panjabi  pan         371661   100000000  0.060135
49             Malayalam  mal         922122    38000000  0.056696
69                 Uzbek  uzb        1186466    27000000  0.051832
42                Nepali  nep        1636019    16000000  0.042353
40                 Tatar  tat        2802261     6500000  0.029471
97                Pashto  pus         276429    60000000  0.026836
64                Kazakh  kaz        1223461    11000000  0.021775
45   Waray (Philippines)  war        3800040     3400000  0.020905
62               Guaraní  grn        1336317     8000000  0.017297
82                 Oriya  ori         209659    50000000  0.016961
98                 Hausa  hau         238245    44000000  0.016961
106            Sundanese  sun         242035    42000000  0.016448
47               Bosnian  bos        2578732     3500000  0.014603
48                 Xhosa  xho         973642     8200000  0.012918
75             Sinhalese  sin         464879    16184860  0.012174
90               Kurdish  kur         241136    30000000  0.011705
78             Cambodian  khm         395825    16000000  0.010247
87           Kinyarwanda  kin         482279     9800000  0.007647
89                Somali  som         232831    14655700  0.005521
102             Lao-Isan  lao         128837    25000000  0.005211
147                Oromo  orm          70559    45500000  0.005194
95        Haitian Creole  hat         285658     9600000  0.004437
74                Kyrgyz  kir         621534     4300000  0.004324
119              Cebuano  ceb         168993    15800000  0.004320
77             Mongolian  mon         477892     5200000  0.004021
120               Yoruba  yor          85085    28000000  0.003855
108              Amharic  amh         106551    21600000  0.003724
113                 Zulu  zul         177564    12000000  0.003448
91                 Tajik  tgk         270486     7861450  0.003441
81                 Tatar  bak         267685     6500000  0.002815
132               Sindhi  snd          74297    22429000  0.002696
107             Assamese  asm         108032    15000000  0.002622
122                Chewa  nya         111532    12000000  0.002165
70                 Scots  sco         707741     1540000  0.001763
136                Shona  sna          83512    12563100  0.001698
150                 Igbo  ibo          40881    25000000  0.001654
145                Rundi  run          69951    12458000  0.001410
124              Quechua  que          85798     8900000  0.001236
135               Uyghur  uig          67384    10400000  0.001134
137                 Akan  aka          53497    11000000  0.000952
83                 Khasi  kha         356804     1600000  0.000924
104                Ganda  lug         107002     5133450  0.000889
144               Zhuang  zha          31574    16000000  0.000817
125                Sotho  sot          88339     5600000  0.000800
126                 Afar  aar         107096     4200000  0.000728
88               Occitan  oci         540906      800000  0.000700
112                Wolof  wol         102048     4200000  0.000693

      id  n_commoncrawl               name n_speakers
131  tsn          77467             Tswana    No data
117  tuk         237750            Turkmen    No data
86   gla         270758    Scottish Gaelic    No data
105  mlg         275700           Malagasy    No data
59   nno        4255222  Norwegian Nynorsk    No data
..   ...            ...                ...        ...
137  aka          53497               Akan   11000000
135  uig          67384             Uyghur   10400000
94   jav         450862           Javanese  100000000
79   pan         371661            Panjabi  100000000
142  bis          61154    Jamaican Creole      10000

[90 rows x 4 columns]