In [1]:
import pandas as pd
languages = pd.read_csv('languages.csv')
languages

     language iso6393
0      arabic     ara
1       hausa     hau
2      fulani     ful
3        igbo     ibo
4      somali     som
5     lingala     lin
6    malagasy     mlg
7      berber     ber
8     kirundi     run
9      kituba     ktu
10      mooré     mos
11      mossi     mos
12       zulu     zul
13   tigrinya     tir
14     kanuri     kau
15       akan     aka
16      shona     sna
17     gikuyu     kik
18      xhosa     xho
19  afrikaans     afr
20    tumbuka     tum
21      wolof     wol
22      chewa     nya
23    umbundu     umb
24      luhya     luy
25   kalenjin     kln
26     ibibio     ibb
27   tshiluba     lub
28      kongo     kon
29      zarma     dje
30     tswana     tsn
31    luganda     lug
32    sesotho     sot
33  hassaniya     mey
34        tiv     tiv

In [2]:
# generate athena query

print(languages.iso6393.tolist())

['ara', 'hau', 'ful', 'ibo', 'som', 'lin', 'mlg', 'ber', 'run', 'ktu', 'mos', 'mos', 'zul', 'tir', 'kau', 'aka', 'sna', 'kik', 'xho', 'afr', 'tum', 'wol', 'nya', 'umb', 'luy', 'kln', 'ibb', 'lub', 'kon', 'dje', 'tsn', 'lug', 'sot', 'mey', 'tiv']

SELECT url, url_host_registered_domain, content_languages
FROM "ccindex"."ccindex"
WHERE subset = 'warc' AND content_languages IN ('ara', 'hau', 'ful', 'ibo', 'som', 'lin', 'mlg', 'ber', 'run', 'ktu', 'mos', 'mos', 'zul', 'tir', 'kau', 'aka', 'sna', 'kik', 'xho', 'afr', 'tum', 'wol', 'nya', 'umb', 'luy', 'kln', 'ibb', 'lub', 'kon', 'dje', 'tsn', 'lug', 'sot', 'mey', 'tiv');

In [5]:
import pandas as pd

infile = '../../../urls_nov_2025.csv.gz'
df = pd.read_csv(infile, compression='gzip')
# drop duplicate urls
df = df.drop_duplicates('url').copy()
df

,url,url_host_registered_domain,content_languages
0,http://ambachhof.at/,ambachhof.at,swa
1,http://members.aon.at/lemu/Homepage/Index.htm,aon.at,orm
3,http://154.118.228.138:8080/mis/,NaN,swa
4,http://serma.al/index.php/en/products/producer...,serma.al,orm
5,http://41.41.114.242/EyeCare/public/index.php/...,NaN,orm
...,...,...,...
7406702,https://aguiarbuenosaires.com/category/tango-m...,aguiarbuenosaires.com,kin
7406703,https://aguiarbuenosaires.com/tag/buenos-aires...,aguiarbuenosaires.com,kin
7406704,https://aguiarbuenosaires.com/tag/documentos/,aguiarbuenosaires.com,kin
7406705,https://aguiarbuenosaires.com/tag/vegetarianos/,aguiarbuenosaires.com,kin
7406710,https://kiranshaw.blog/ipages/flipbook/the-maz...,kiranshaw.blog,hau

In [19]:
import csv
import gzip
import os
import shutil

infile = '/Volumes/PassBlau/download/Nicht bestätigt 105189.crdownload'
outfolder = '/Volumes/PassBlau/download/seeds'

# print(os.path.exists(outfolder))
# if os.path.exists(outfolder):
#     shutil.rmtree(outfolder)

# os.mkdir(outfolder)

headers = None

hashes = set()
writers = {}

i = 0

try:
    with open(infile, 'r', newline='') as csvfile:

        csv_reader = csv.reader(csvfile)
        for row in csv_reader:

            if headers is None:
                headers = row
                continue

            url = row[0]
            h = hash(url)

            if h in hashes:
                continue

            hashes.add(h)

            lang = row[2]

            if lang not in writers.keys():
                writers[lang] = gzip.open(os.path.join(outfolder, lang + ".txt.gz"), 'wt')

            writers[lang].write(url + '\n')

            i += 1
            if i%100000 == 0:
                print(f"{i:,}")
finally:
    for writer in writers.values():
        writer.close()

100,000
200,000
300,000
400,000
500,000
600,000
700,000
800,000
900,000
1,000,000
1,100,000
1,200,000
1,300,000
1,400,000
1,500,000
1,600,000
1,700,000
1,800,000
1,900,000
2,000,000
2,100,000
2,200,000
2,300,000
2,400,000
2,500,000
2,600,000
2,700,000
2,800,000
2,900,000
3,000,000
3,100,000
3,200,000
3,300,000
3,400,000
3,500,000
3,600,000
3,700,000
3,800,000
3,900,000
4,000,000
4,100,000
4,200,000
4,300,000
4,400,000
4,500,000
4,600,000
4,700,000
4,800,000
4,900,000
5,000,000
5,100,000
5,200,000
5,300,000
5,400,000
5,500,000
5,600,000
5,700,000
5,800,000
5,900,000
6,000,000
6,100,000
6,200,000
6,300,000
6,400,000
6,500,000
6,600,000
6,700,000
6,800,000
6,900,000
7,000,000
7,100,000
7,200,000
7,300,000
7,400,000
7,500,000
7,600,000
7,700,000
7,800,000
7,900,000
8,000,000
8,100,000
8,200,000
8,300,000
8,400,000
8,500,000
8,600,000
8,700,000
8,800,000
8,900,000
9,000,000
9,100,000
9,200,000
9,300,000
9,400,000
9,500,000
9,600,000
9,700,000
9,800,000
9,900,000
10,000,000

KeyboardInterrupt:

In [6]:
# how many urls per language?
df.content_languages.value_counts()

content_languages
swa    1863433
kin     619991
hau     571159
amh     500201
yor     308485
orm      80595
Name: count, dtype: int64